@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceSans3VF-Roman.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Dosis';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face{
    font-family: 'Spartan';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('Spartan-VariableFont_wght.ttf') format('truetype');
         
}

@font-face {
    font-family: 'Monserrat';
    font-weight: 400;
    src: url('Montserrat-Medium.ttf')  format('truetype');
}

.dark-bg{
    background: #1B1B1E;
    
}

html{
height: 100%;
background: #1B1B1E;
}
body{
    font: 'Dosis', sans-serif;
    
    width: 100%;
}
.main-centered{
    position: relative;
    width: calc(564/1440*100%);
    margin-left: calc(447/1440*100%);
    margin-top: 15%;
}

h1{
    font-family: 'Source Sans 3','Dosis',Arial, Helvetica, sans-serif;
}

.dark-bg .number{
    font:  200 7rem 'Dosis', sans-serif;
    color: #ffffff;
    opacity: 0.2;
    
}

.introduction{
    margin: 5.8rem 0 0 0 ;

}
.dark-bg h1{
    font: 400 5.6rem 'Spartan',sans-serif;
    color: #ffffff;
}
.dark-bg p{
    font: 400 1.2rem  'Source Sans 3',sans-serif;
    color: #ffffff;
}
.introduction p.orange{
    color: #EA6118;
    display: block;
   
}
span.vector1{
    display: block;
    border: 1px solid #FFFFFF;
    width: calc(170/1080*100%);
    margin: 0 20px;
}

.square{
    
    position: absolute;
    background-color:#EA6118 ;
    height: 94px;
    width: 94px;
    left: 85%;
    top: 20%;
    
}
svg.github-icon{
    filter: invert(1);
}
div.social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    margin: 0 calc(8/137.24*200%);
}
div.social-media a:first-child{
    margin-left: 17px;
}

.vert-stripes{
    position: absolute;
    width: 300%;
    height: 0px;
    left: calc(169/1440*100%);
    top: 0px;
    border: 1px solid #FFFFFF;
    transform: translateX(-50%) rotate(90deg) ;
    opacity: 0.1;
    z-index: 0;
}
.vert-stripes:nth-child(1){
    left: calc(359/1440*100%);
}
.vert-stripes:nth-child(2){
    left: calc(547/1440*100%);
}
.vert-stripes:nth-child(3){
    left: calc(735/1440*100%);
}
.vert-stripes:nth-child(4){
    left: calc(923/1440*100%);
}
.vert-stripes:nth-child(5){
    left: calc(1111/1440*100%);
}
.vert-stripes:nth-child(6){
    left: calc(1299/1440*100%);
}
background: #DB4747;
mix-blend-mode: lighten;
/* Template 6-main */

position: relative;
width: 1440px;
height: 4303px;

background: #1B1B1E;


/* Group 2 */

position: absolute;
width: 1130px;
height: 3525px;
left: 169px;
top: 0px;

opacity: 0.05;


/* Line 1 */

position: absolute;
width: 3525px;
height: 0px;
left: 169px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 2 */

position: absolute;
width: 3525px;
height: 0px;
left: 359px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 3 */

position: absolute;
width: 3525px;
height: 0px;
left: 547px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 4 */

position: absolute;
width: 3525px;
height: 0px;
left: 735px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 5 */

position: absolute;
width: 3525px;
height: 0px;
left: 923px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 6 */

position: absolute;
width: 3525px;
height: 0px;
left: 1111px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Line 7 */

position: absolute;
width: 3525px;
height: 0px;
left: 1299px;
top: 0px;

border: 1px solid #FFFFFF;
transform: rotate(90deg);


/* Group 4 */

position: absolute;
width: 24px;
height: 388px;
left: 1358px;
top: 267px;



/* Contact */

position: absolute;
width: 66px;
height: 24px;
left: 1382px;
top: 589px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

transform: rotate(90deg);


/* Hello */

position: absolute;
width: 39px;
height: 24px;
left: 1382px;
top: 267px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

transform: rotate(90deg);


/* Portfolio */

position: absolute;
width: 66px;
height: 24px;
left: 1382px;
top: 356px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

transform: rotate(90deg);


/* Services */

position: absolute;
width: 67px;
height: 24px;
left: 1382px;
top: 472px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

transform: rotate(90deg);


/* Group 30 */

position: absolute;
width: 664px;
height: 549px;
left: 447px;
top: 210px;



/* Ellipse 1 */

position: absolute;
width: 94px;
height: 94px;
left: 1017px;
top: 302px;

background: #DB4747;
mix-blend-mode: lighten;


/* Group 6 */

position: absolute;
width: 664px;
height: 549px;
left: 447px;
top: 210px;



/* Charlie Giorgania */

position: absolute;
width: 484px;
height: 220px;
left: 547px;
top: 326px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* or 110px */

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* Hello! I am a software developer! I can help you build a product, feature or website. Look through some of my work and experience! If you like what you see and have a project you need coded, don’t hesitate and contact me. */

position: absolute;
width: 564px;
height: 108px;
left: 547px;
top: 586px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;



/* Hello, I’m */

position: absolute;
width: 504px;
height: 24px;
left: 547px;
top: 302px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* 01 */

position: absolute;
width: 82px;
height: 150px;
left: 447px;
top: 210px;

font-family: Poppins;
font-style: normal;
font-weight: 200;
font-size: 100px;
line-height: 150px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

opacity: 0.2;


/* Group 5 */

position: absolute;
width: 524px;
height: 92.33px;
left: 547px;
top: 666.67px;



/* See my works */

position: absolute;
width: 113px;
height: 21px;
left: 547px;
top: 737px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #DB4747;



/* Line 8 */

position: absolute;
width: 70px;
height: 0px;
left: 680px;
top: 747px;

border: 1px solid #FFFFFF;


/* Group 21 */

position: absolute;
width: 304px;
height: 92.33px;
left: 767px;
top: 666.67px;



/* ic_stackoverflow */

position: absolute;
width: 24px;
height: 24px;
left: 767px;
top: 735px;



/* Group */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;



/* Group */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;



/* Vector */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;



/* Group */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;



/* Group */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;



/* Vector */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;



/* Group */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;



/* Vector */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;



/* Group */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;



/* Vector */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;



/* Group */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;



/* Vector */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;



/* Group */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;



/* Vector */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;

background: #FFFFFF;


/* ic_github */

position: absolute;
width: 24px;
height: 24px;
left: 823px;
top: 735px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 2.08%;
bottom: 2.08%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 2.08%;
bottom: 2.08%;

background: #FFFFFF;


/* ic_twitter */

position: absolute;
width: 24px;
height: 24px;
left: 879px;
top: 735px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;

background: #FFFFFF;


/* ic_linkedin */

position: absolute;
width: 24px;
height: 24px;
left: 935px;
top: 735px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* ic_medium */

position: absolute;
width: 24px;
height: 24px;
left: 991px;
top: 735px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 10.42%;
bottom: 10.42%;

background: #FFFFFF;


/* ic_angellist */

position: absolute;
left: 72.71%;
right: 25.62%;
top: 15.49%;
bottom: 84%;



/* Group */

position: absolute;
left: 18.21%;
right: 17.96%;
top: 4%;
bottom: 4.07%;



/* Vector */

position: absolute;
left: 18.21%;
right: 17.96%;
top: 4%;
bottom: 4.07%;

background: #FFFFFF;


/* Ellipse 2 */

position: absolute;
width: 6px;
height: 6px;
left: 1352px;
top: 284px;

background: #FFFFFF;


/* Group 28 */

position: absolute;
width: 1130px;
height: 514px;
left: 169px;
top: 2420px;



/* Group 11 */

position: absolute;
width: 564px;
height: 480px;
left: 735px;
top: 2437px;



/* About me */

position: absolute;
width: 474px;
height: 110px;
left: 735px;
top: 2548px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* identical to box height, or 110px */

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 564px;
height: 108px;
left: 735px;
top: 2698px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;



/* Group 20 */

position: absolute;
visibility: hidden;
width: 212px;
height: 51px;
left: 735px;
top: 2866px;



/* Rectangle 20 */

position: absolute;
width: 212px;
height: 51px;
left: 735px;
top: 2866px;

/* Red */
border: 1px solid #DB4747;
box-sizing: border-box;


/* Start collaboration */

position: absolute;
width: 170px;
height: 27px;
left: 756px;
top: 2878px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

/* Red */
color: #DB4747;


/* Some words */

position: absolute;
width: 504px;
height: 18px;
left: 735px;
top: 2524px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #FFFFFF;



/* 03 */

position: absolute;
width: 117px;
height: 80px;
left: 735px;
top: 2437px;

font-family: Poppins;
font-style: normal;
font-weight: 200;
font-size: 100px;
line-height: 80%;
/* identical to box height, or 80px */
text-align: right;

color: #FFFFFF;

opacity: 0.2;


/* Group 14 */

position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2420px;



/* Rectangle 17 */

position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2420px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;


/* ic_languages */

position: absolute;
width: 47px;
height: 47px;
left: 189px;
top: 2440px;



/* Group 13 */

position: absolute;
width: 47px;
height: 47px;
left: 189px;
top: 2440px;



/* Ellipse 3 */

position: absolute;
width: 47px;
height: 47px;
left: 189px;
top: 2440px;

background: #22B07D;
opacity: 0.2;


/* # */

position: absolute;
width: 23.5px;
height: 23.5px;
left: 200.75px;
top: 2451.75px;

background: #22B07D;


/* Languages */

position: absolute;
width: 103px;
height: 27px;
left: 189px;
top: 2503px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* • JavaScript (ES5/ES6) • Ruby • HTML • CSS */

position: absolute;
width: 134px;
height: 105px;
left: 189px;
top: 2541px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.0525em;

color: #7D7C84;



/* Group 16 */

position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2689px;



/* Rectangle 17 */

position: absolute;
width: 245px;
height: 245px;
left: 169px;
top: 2689px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;


/* ic_skills */

position: absolute;
width: 48px;
height: 48px;
left: 189px;
top: 2709px;



/* Group 13 */

position: absolute;
width: 48px;
height: 48px;
left: 189px;
top: 2709px;



/* Ellipse 3 */

position: absolute;
width: 48px;
height: 48px;
left: 189px;
top: 2709px;

background: #F19D2A;
opacity: 0.2;


/* idea */

position: absolute;
width: 28.8px;
height: 28.8px;
left: 198.6px;
top: 2718.6px;



/* Group */

position: absolute;
left: 47.07%;
right: 26.56%;
top: 11.72%;
bottom: 61.92%;



/* Group */

position: absolute;
left: 47.07%;
right: 26.56%;
top: 11.72%;
bottom: 61.92%;



/* Vector */

position: absolute;
left: 47.07%;
right: 26.56%;
top: 11.72%;
bottom: 61.92%;

background: #F19D2A;


/* Group */

position: absolute;
left: 14.85%;
right: 14.84%;
top: 0%;
bottom: 0%;



/* Group */

position: absolute;
left: 14.85%;
right: 14.84%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 14.85%;
right: 14.84%;
top: 0%;
bottom: 0%;

background: #F19D2A;


/* Group */

position: absolute;
left: 0%;
right: 88.28%;
top: 35.15%;
bottom: 58.99%;



/* Group */

position: absolute;
left: 0%;
right: 88.28%;
top: 35.15%;
bottom: 58.99%;



/* Vector */

position: absolute;
left: 0%;
right: 88.28%;
top: 35.15%;
bottom: 58.99%;

background: #F19D2A;


/* Group */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 15.5%;
bottom: 74.49%;



/* Group */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 15.5%;
bottom: 74.49%;



/* Vector */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 15.5%;
bottom: 74.49%;

background: #F19D2A;


/* Group */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 50.66%;
bottom: 39.34%;



/* Group */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 50.66%;
bottom: 39.34%;



/* Vector */

position: absolute;
left: 0.86%;
right: 89.14%;
top: 50.66%;
bottom: 39.34%;

background: #F19D2A;


/* Group */

position: absolute;
left: 88.28%;
right: 0%;
top: 35.15%;
bottom: 58.99%;



/* Group */

position: absolute;
left: 88.28%;
right: 0%;
top: 35.15%;
bottom: 58.99%;



/* Vector */

position: absolute;
left: 88.28%;
right: 0%;
top: 35.15%;
bottom: 58.99%;

background: #F19D2A;


/* Group */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 15.5%;
bottom: 74.49%;



/* Group */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 15.5%;
bottom: 74.49%;



/* Vector */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 15.5%;
bottom: 74.49%;

background: #F19D2A;


/* Group */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 50.66%;
bottom: 39.34%;



/* Group */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 50.66%;
bottom: 39.34%;



/* Vector */

position: absolute;
left: 89.14%;
right: 0.86%;
top: 50.66%;
bottom: 39.34%;

background: #F19D2A;


/* Skills */

position: absolute;
width: 48px;
height: 27px;
left: 189px;
top: 2773px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* • Codekit • Codepen • GitHub • GitLAb • Terminal */

position: absolute;
width: 68px;
height: 105px;
left: 189px;
top: 2810px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.0525em;

color: #7D7C84;



/* Group 15 */

position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2420px;



/* Rectangle 17 */

position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2420px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;


/* ic_frameworks */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2440px;



/* Group 13 */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2440px;



/* Ellipse 3 */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2440px;

background: #376AED;
opacity: 0.2;


/* Group 18 */

position: absolute;
width: 24px;
height: 24px;
left: 470px;
top: 2452px;



/* Rectangle 18 */

position: absolute;
width: 24px;
height: 24px;
left: 470px;
top: 2452px;

border: 1.5px solid #376AED;


/* Rectangle 19 */

position: absolute;
width: 16.97px;
height: 16.97px;
left: 482px;
top: 2452px;

border: 1.5px solid #376AED;
transform: rotate(45deg);


/* Frameworks */

position: absolute;
width: 117px;
height: 27px;
left: 458px;
top: 2504px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* • Bootstrap • Ruby on rails • RSpec • Capibara • Selenium */

position: absolute;
width: 89px;
height: 105px;
left: 458px;
top: 2541px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.0525em;

color: #7D7C84;



/* Group 17 */

position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2689px;



/* Rectangle 17 */

position: absolute;
width: 245px;
height: 245px;
left: 438px;
top: 2689px;

background: #212123;
box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
border-radius: 4px;


/* ic_soft-skills */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2709px;



/* Group 13 */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2709px;



/* Ellipse 3 */

position: absolute;
width: 48px;
height: 48px;
left: 458px;
top: 2709px;

/* Red */
background: #DB4747;
opacity: 0.2;


/* heart */

position: absolute;
width: 28.8px;
height: 28.8px;
left: 467.6px;
top: 2718.6px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 5.47%;
bottom: 5.56%;

/* Red */
background: #DB4747;


/* Soft skills */

position: absolute;
width: 87px;
height: 27px;
left: 458px;
top: 2773px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* • Communication • Problem-solving • Patience • Adaptability */

position: absolute;
width: 113px;
height: 84px;
left: 458px;
top: 2810px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
letter-spacing: -0.0525em;

color: #7D7C84;



/* Group 112 */

position: absolute;
width: 1440px;
height: 1425px;
left: 0px;
top: 2878px;



/* Rectangle 30 */

position: absolute;
width: 1440px;
height: 1219px;
left: 0px;
top: 3084px;

background: #212123;


/* Group 26 */

position: absolute;
width: 681px;
height: 374px;
left: 242px;
top: 3234px;



/* Get started */

position: absolute;
width: 548px;
height: 110px;
left: 359px;
top: 3350px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* identical to box height, or 110px */

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */

position: absolute;
width: 564px;
height: 108px;
left: 359px;
top: 3500px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;



/* Interested in collaborating? */

position: absolute;
width: 504px;
height: 24px;
left: 359px;
top: 3326px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* 04 */

position: absolute;
width: 117px;
height: 150px;
left: 242px;
top: 3234px;

font-family: Poppins;
font-style: normal;
font-weight: 200;
font-size: 100px;
line-height: 150px;
/* identical to box height */
text-align: right;

color: #FFFFFF;

opacity: 0.2;


/* Ellipse 1 */

position: absolute;
width: 94px;
height: 94px;
left: 1017px;
top: 3244px;

background: #DB4747;
mix-blend-mode: lighten;


/* Group 31 */

position: absolute;
width: 562px;
height: 70px;
left: 361px;
top: 3662px;



/* Rectangle 31 */

position: absolute;
width: 562px;
height: 70px;
left: 361px;
top: 3662px;

background: #101010;
border-radius: 4px;


/* Anastasiia */

position: absolute;
width: 94px;
height: 27px;
left: 391px;
top: 3684px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Your name */

position: absolute;
width: 66px;
height: 18px;
left: 391px;
top: 3666px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #7D7C84;



/* Group 32 */

position: absolute;
width: 562px;
height: 70px;
left: 361px;
top: 3752px;



/* Rectangle 31 */

position: absolute;
width: 562px;
height: 70px;
left: 361px;
top: 3752px;

background: #101010;
/* Red */
border: 1px solid #DB4747;
box-sizing: border-box;
border-radius: 4px;


/* l */

position: absolute;
width: 5px;
height: 27px;
left: 391px;
top: 3774px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #FFFFFF;



/* Your email */

position: absolute;
width: 64px;
height: 18px;
left: 391px;
top: 3756px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height */

color: #7D7C84;



/* Group 33 */

position: absolute;
width: 562px;
height: 181px;
left: 361px;
top: 3842px;



/* Rectangle 31 */

position: absolute;
width: 562px;
height: 181px;
left: 361px;
top: 3842px;

background: #101010;
border-radius: 4px;


/* Enter your message here... */

position: absolute;
width: 233px;
height: 27px;
left: 391px;
top: 3864px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #7D7C84;



/* Group 19 */

position: absolute;
width: 562px;
height: 51px;
left: 361px;
top: 4043px;



/* Rectangle 20 */

position: absolute;
width: 562px;
height: 51px;
left: 361px;
top: 4043px;

/* Red */
background: #DB4747;
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
border-radius: 4px;


/* Start collaboration */

position: absolute;
width: 450.66px;
height: 27px;
left: 416.67px;
top: 4055px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* Group 34 */

position: absolute;
width: 1144px;
height: 1384.5px;
left: 155px;
top: 2878px;



/* Group 22 */

position: absolute;
width: 304px;
height: 24px;
left: 995px;
top: 4237px;



/* ic_stackoverflow */

position: absolute;
width: 24px;
height: 24px;
left: 995px;
top: 4237px;



/* Group */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;



/* Group */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;



/* Vector */

position: absolute;
left: 12.5%;
right: 25%;
top: 62.5%;
bottom: 0%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;



/* Group */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 25%;
right: 37.5%;
top: 81.25%;
bottom: 12.5%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;



/* Group */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;



/* Vector */

position: absolute;
left: 24.99%;
right: 37.51%;
top: 65.63%;
bottom: 25%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;



/* Group */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;



/* Vector */

position: absolute;
left: 28.12%;
right: 34.38%;
top: 46.87%;
bottom: 37.5%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;



/* Group */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;



/* Vector */

position: absolute;
left: 34.37%;
right: 31.25%;
top: 28.12%;
bottom: 50%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;



/* Group */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;



/* Vector */

position: absolute;
left: 53.12%;
right: 25%;
top: 12.5%;
bottom: 56.25%;

background: #FFFFFF;


/* Group */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;



/* Group */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;



/* Vector */

position: absolute;
left: 75%;
right: 12.5%;
top: 0%;
bottom: 62.5%;

background: #FFFFFF;


/* ic_github */

position: absolute;
width: 24px;
height: 24px;
left: 1051px;
top: 4237px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 2.08%;
bottom: 2.08%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 2.08%;
bottom: 2.08%;

background: #FFFFFF;


/* ic_twitter */

position: absolute;
width: 24px;
height: 24px;
left: 1107px;
top: 4237px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 9.38%;
bottom: 9.38%;

background: #FFFFFF;


/* ic_linkedin */

position: absolute;
width: 24px;
height: 24px;
left: 1163px;
top: 4237px;



/* Group */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* ic_medium */

position: absolute;
width: 24px;
height: 24px;
left: 1219px;
top: 4237px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 10.42%;
bottom: 10.42%;

background: #FFFFFF;


/* ic_angellist */

position: absolute;
width: 24px;
height: 24px;
left: 1275px;
top: 4237px;



/* Group */

position: absolute;
left: 18.21%;
right: 17.96%;
top: 4%;
bottom: 4.07%;



/* Vector */

position: absolute;
left: 18.21%;
right: 17.96%;
top: 4%;
bottom: 4.07%;

background: #FFFFFF;


/* Line 9 */

position: absolute;
width: 1144px;
height: 0px;
left: 1299px;
top: 4209px;

border: 1px solid rgba(255, 255, 255, 0.1);
transform: matrix(-0.71, 0, -inf, -nan, 0, 0);


/* Group 10 */

position: absolute;
width: 182.86px;
height: 27px;
left: 155px;
top: 4235.5px;



/* Get my Resume */

position: absolute;
width: 143px;
height: 27px;
left: 155px;
top: 4235.5px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* Red */
color: #DB4747;


/* ic_link */

position: absolute;
width: 22px;
height: 22px;
left: 315.85px;
top: 4238.05px;



/* Union */

position: absolute;
width: 22px;
height: 22px;
left: 315.85px;
top: 4238.05px;

/* Red */
background: #DB4747;


/* Union */

position: absolute;
width: 13.29px;
height: 13.29px;
left: 324.57px;
top: 4238.05px;

/* Red */
background: #DB4747;


/* Vector 1 */

position: absolute;
width: 8.42px;
height: 8.42px;
left: 328.43px;
top: 4239.05px;

/* Red */
background: #DB4747;
/* Red */
border: 2px solid #DB4747;


/* Vector 2 */

position: absolute;
width: 11.58px;
height: 11.58px;
left: 325.27px;
top: 4239.05px;

/* Red */
background: #DB4747;
/* Red */
border: 2px solid #DB4747;


/* Subtract */

position: absolute;
width: 18.84px;
height: 18.84px;
left: 315.85px;
top: 4241.21px;

/* Red */
background: #DB4747;


/* Rectangle 15 */

position: absolute;
width: 16.84px;
height: 16.84px;
left: 316.85px;
top: 4242.21px;

border: 2px solid #FFFFFF;


/* Rectangle 16 */

position: absolute;
width: 16.84px;
height: 16.84px;
left: 321.06px;
top: 4238px;

background: #C4C4C4;


/* Group 23 */

position: absolute;
width: 182.86px;
height: 27px;
left: 735px;
top: 2878px;



/* Get my Resume */

position: absolute;
width: 143px;
height: 27px;
left: 735px;
top: 2878px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* Red */
color: #DB4747;


/* ic_link */

position: absolute;
width: 22px;
height: 22px;
left: 895.85px;
top: 2880.55px;



/* Union */

position: absolute;
width: 22px;
height: 22px;
left: 895.85px;
top: 2880.55px;

/* Red */
background: #DB4747;


/* Union */

position: absolute;
width: 13.29px;
height: 13.29px;
left: 904.57px;
top: 2880.55px;

/* Red */
background: #DB4747;


/* Vector 1 */

position: absolute;
width: 8.42px;
height: 8.42px;
left: 908.43px;
top: 2881.55px;

/* Red */
background: #DB4747;
/* Red */
border: 2px solid #DB4747;


/* Vector 2 */

position: absolute;
width: 11.58px;
height: 11.58px;
left: 905.27px;
top: 2881.55px;

/* Red */
background: #DB4747;
/* Red */
border: 2px solid #DB4747;


/* Subtract */

position: absolute;
width: 18.84px;
height: 18.84px;
left: 895.85px;
top: 2883.71px;

/* Red */
background: #DB4747;


/* Rectangle 15 */

position: absolute;
width: 16.84px;
height: 16.84px;
left: 896.85px;
top: 2884.71px;

border: 2px solid #FFFFFF;


/* Rectangle 16 */

position: absolute;
width: 16.84px;
height: 16.84px;
left: 901.06px;
top: 2880.5px;

background: #C4C4C4;


/* Group 27 */

position: absolute;
width: 1440px;
height: 1361px;
left: 0px;
top: 909px;



/* Group 25 */

position: absolute;
width: 621px;
height: 185px;
left: 169px;
top: 909px;



/* Portfolio */

position: absolute;
width: 430px;
height: 110px;
left: 286px;
top: 984px;

font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 110px;
line-height: 100%;
/* identical to box height, or 110px */

color: #FFFFFF;

border: 1px solid #FFFFFF;


/* My recent works */

position: absolute;
width: 504px;
height: 24px;
left: 286px;
top: 960px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #FFFFFF;



/* 02 */

position: absolute;
width: 116px;
height: 80px;
left: 169px;
top: 909px;

font-family: Poppins;
font-style: normal;
font-weight: 200;
font-size: 100px;
line-height: 80%;
/* identical to box height, or 80px */
text-align: right;

color: #FFFFFF;

opacity: 0.2;


/* Rectangle 24 */

position: absolute;
width: 960px;
height: 558px;
left: 0px;
top: 1712px;

background: url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);


/* Rectangle 22 */

position: absolute;
width: 480px;
height: 279px;
left: 0px;
top: 1154px;

background: url(image.png);


/* Rectangle 25 */

position: absolute;
width: 480px;
height: 279px;
left: 960px;
top: 1712px;

background: url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);


/* Rectangle 23 */

position: absolute;
width: 480px;
height: 279px;
left: 0px;
top: 1433px;

background: url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);


/* Rectangle 26 */

position: absolute;
width: 480px;
height: 279px;
left: 960px;
top: 1991px;

background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%), url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);


/* Project name goes... */

position: absolute;
width: 400px;
height: 40px;
left: 1000px;
top: 2031px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 100%;
/* identical to box height, or 40px */

color: #FFFFFF;



/* Group 22 */

position: absolute;
width: 132px;
height: 40px;
left: 1002px;
top: 2091px;



/* Rectangle 27 */

position: absolute;
width: 132px;
height: 40px;
left: 1002px;
top: 2091px;

background: rgba(0, 0, 0, 0.5);


/* HTML/CSS */

position: absolute;
width: 94px;
height: 16px;
left: 1022px;
top: 2103px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Group 23 */

position: absolute;
width: 169px;
height: 40px;
left: 1149px;
top: 2091px;



/* Rectangle 27 */

position: absolute;
width: 169px;
height: 40px;
left: 1149px;
top: 2091px;

background: rgba(0, 0, 0, 0.5);


/* Ruby on Rails */

position: absolute;
width: 129px;
height: 16px;
left: 1169px;
top: 2103px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Group 24 */

position: absolute;
width: 57px;
height: 40px;
left: 1333px;
top: 2091px;



/* Rectangle 27 */

position: absolute;
width: 57px;
height: 40px;
left: 1333px;
top: 2091px;

background: rgba(0, 0, 0, 0.5);


/* +1 */

position: absolute;
width: 17px;
height: 16px;
left: 1353px;
top: 2103px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Mask Group */

position: absolute;
width: 41px;
height: 52.54px;
left: 1268px;
top: 2131px;



/* Rectangle 28 */

position: absolute;
width: 41px;
height: 52.54px;
left: 1268px;
top: 2131px;

background: #C4C4C4;


/* image 5 */

position: absolute;
width: 74.89px;
height: 56.23px;
left: 1234.11px;
top: 2131px;

background: url(image.png);


/* Group 26 */

position: absolute;
width: 212px;
height: 51px;
left: 1000px;
top: 2179px;



/* Rectangle 20 */

position: absolute;
width: 212px;
height: 51px;
left: 1000px;
top: 2179px;

/* Red */
background: #DB4747;


/* See this project */

position: absolute;
width: 139px;
height: 27px;
left: 1020px;
top: 2191px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* ic_arrow_right */

position: absolute;
width: 24px;
height: 24px;
left: 1172px;
top: 2193px;



/* Rectangle 36 */

position: absolute;
width: 24px;
height: 24px;
left: 1172px;
top: 2193px;



/* Union */

position: absolute;
width: 20.57px;
height: 15.35px;
left: 1174px;
top: 2196.95px;

background: #FFFFFF;


/* Group 69 */

position: absolute;
width: 960px;
height: 558px;
left: 480px;
top: 1154px;



/* Rectangle 21 */

position: absolute;
width: 960px;
height: 558px;
left: 480px;
top: 1154px;

background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%), url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);


/* Group 19 */

position: absolute;
width: 212px;
height: 51px;
left: 540px;
top: 1601px;



/* Rectangle 20 */

position: absolute;
width: 212px;
height: 51px;
left: 540px;
top: 1601px;

/* Red */
background: #DB4747;


/* See this project */

position: absolute;
width: 139px;
height: 27px;
left: 560px;
top: 1613px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

color: #FFFFFF;



/* ic_arrow_right */

position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 1615px;



/* Rectangle 36 */

position: absolute;
width: 24px;
height: 24px;
left: 712px;
top: 1615px;



/* Union */

position: absolute;
width: 20.57px;
height: 15.35px;
left: 714px;
top: 1618.95px;

background: #FFFFFF;


/* Project name goes here */

position: absolute;
width: 711px;
height: 48px;
left: 540px;
top: 1214px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 60px;
line-height: 80%;
/* identical to box height, or 48px */

color: #FFFFFF;



/* Group 22 */

position: absolute;
width: 132px;
height: 40px;
left: 540px;
top: 1296px;



/* Rectangle 27 */

position: absolute;
width: 132px;
height: 40px;
left: 540px;
top: 1296px;

background: rgba(0, 0, 0, 0.5);


/* HTML/CSS */

position: absolute;
width: 94px;
height: 16px;
left: 560px;
top: 1308px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Group 23 */

position: absolute;
width: 169px;
height: 40px;
left: 692px;
top: 1296px;



/* Rectangle 27 */

position: absolute;
width: 169px;
height: 40px;
left: 692px;
top: 1296px;

background: rgba(0, 0, 0, 0.5);


/* Ruby on Rails */

position: absolute;
width: 129px;
height: 16px;
left: 712px;
top: 1308px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Group 24 */

position: absolute;
width: 144px;
height: 40px;
left: 881px;
top: 1296px;



/* Rectangle 27 */

position: absolute;
width: 144px;
height: 40px;
left: 881px;
top: 1296px;

background: rgba(0, 0, 0, 0.5);


/* JavaScript */

position: absolute;
width: 104px;
height: 16px;
left: 901px;
top: 1308px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

color: #FFFFFF;



/* Mask Group */

position: absolute;
width: 41px;
height: 52.54px;
left: 981px;
top: 1437px;



/* Rectangle 28 */

position: absolute;
width: 41px;
height: 52.54px;
left: 981px;
top: 1437px;

background: #C4C4C4;


/* image 5 */

position: absolute;
width: 74.89px;
height: 56.23px;
left: 947.11px;
top: 1437px;

background: url(image.png);
