@font-face{
    font-family: 'Source Sans 3';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('SourceSans3VF-Roman.ttf.woff2') format('woff2');
}

@font-face{
    font-family: 'Dosis';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face{
    font-family: 'Spartan';
    font-weight: 200 900;
    font-style: normal;
    font-stretch: normal;
    src: url('Spartan-VariableFont_wght.ttf') format('truetype');
         
}

@font-face {
    font-family: 'Monserrat';
    font-weight: 400;
    src: url('Montserrat-Medium.ttf')  format('truetype');
}

.dark-bg{
    background: #1B1B1E;
    
}

html{
height: 100%;
background: #1B1B1E;
}
body{
    font: 'Dosis', sans-serif;
    
    width: 100%;
}
.main-centered{
    position: relative;
    width: calc(564/1440*100%);
    margin-left: calc(470/1440*100%);
    margin-top: 15%;
}

h1{
    font-family: 'Source Sans 3','Dosis',Arial, Helvetica, sans-serif;
}

.dark-bg .number{
    font:  200 7rem 'Dosis', sans-serif;
    color: #ffffff;
    opacity: 0.2;
    
}

.introduction{
    margin: 5.8rem 0 0 0 ;

}
.dark-bg h1{
    font: 400 5.6rem 'Spartan',sans-serif;
    color: #ffffff;
}
.dark-bg p{
    font: 400 1.2rem  'Source Sans 3',sans-serif;
    color: #ffffff;
}
a.orange, p.orange{
    color: #EA6118;
    display: block;
}
span.vector1{
    display: block;
    border: 1px solid #FFFFFF;
    width: calc(170/1080*100%);
    margin: 0 20px;
}

.square-decoration{
    
    position: absolute;
    background-color:#EA6118 ;
    height: 94px;
    width: 94px;
    left: 85%;
    top: 20%;
    
}
svg.github-icon{
    filter: invert(1);
}
div.social-media a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    margin: 0 calc(8/137.24*200%);
}
div.social-media a:first-child{
    margin-left: 17px;
}

.vert-stripes{
    position: absolute;
    width: 300%;
    height: 0px;
    left: calc(169/1440*100%);
    top: 0px;
    border: 1px solid #FFFFFF;
    transform: translateX(-50%) rotate(90deg) ;
    opacity: 0.1;
    z-index: 0;
}
.vert-stripes:nth-child(1){
    left: calc(359/1440*100%);
}
.vert-stripes:nth-child(2){
    left: calc(547/1440*100%);
}
.vert-stripes:nth-child(3){
    left: calc(735/1440*100%);
}
.vert-stripes:nth-child(4){
    left: calc(923/1440*100%);
}
.vert-stripes:nth-child(5){
    left: calc(1111/1440*100%);
}
.vert-stripes:nth-child(6){
    left: calc(1299/1440*100%);
}

.left-centered{
    position: relative;
    width: calc(564/1440*100%);
    margin-left: calc(160/1440*100%);
    padding-top: 9%;
}

.white-bg{
    width: 100%;
    flex-wrap: wrap;
}
div.capstone{
    flex: 1 1 100%;
}
div.social{
    flex: 1 1 calc(44736/89101*100%);
}
div.TNW{
    flex: 1 1 calc(44365/89101*100%);
}
div.tic-tac-toe{
    flex: 1 1 calc(37304/131713*100%);
}
div.newsweek{
    flex: 1 1 calc(94400/131713*100%);
}
.capstone div{
    padding-top: calc(12529/31848*100%);
}
div.capstone-desk {
    position: relative;
    width: calc(1072/1327*100%);
    height: auto;
    background-image: url("../images/rorcapstonedesktop.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
div.capstone-mobile {
  
    position: relative;
    width: calc(255/1327*100%);
    height: auto;
    background-image: url("../images/rorcapstone.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

div.social div.project{
    padding-top: calc(934/1920*100%);
    position: relative;
    height: auto;
    width: 100%;
    background-image: url("../images/social.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

div.TNW div.project{
    width: 100%;
    padding-top: calc(934/1920*100%);
    position: relative;
    height: auto;
    background-image: url("../images/TNW.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
div.tic-tac-toe div.project{
    padding-top: calc(492/386*100%);
    width: 100%;
    position: relative;
    height: auto;
    background-image: url("../images/tic-tac-toe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
div.newsweek div.project{
    padding-top: calc(965/1920*100%);
    width: 100%;
    position: relative;
    height: auto;
    background-image: url("../images/newsweek.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}
h2.project{
    display: block;
    position: absolute;
    
}
div.right-centered{
    position: relative;
    width: calc(474/1440*100%);
    left: calc(211/1440*100%);

}

div.squares{
    position: relative;
    width: 657px;
    left: calc(169/1440*100%);
}
div.square{
    background: #212123;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 318.5px;
    height: 318.5px;
    margin:5px;
}

div.vector{
    width: calc(48/245*100%);
    padding-top: calc(48/245*100%);
    margin: 1.8rem;
    background-size: cover;
    background-repeat: no-repeat;
}
div.about-info{
    margin-left: 1.8rem;
    
}
div.square:nth-child(1) div.vector{
    background-image: url(../icons/sharp.svg);
}
div.square:nth-child(2) div.vector{
    background-image: url(../icons/square.svg);
}
div.square:nth-child(3) div.vector{
    background-image: url(../icons/lightbulb.svg);
}
div.square:nth-child(4) div.vector{
    background-image: url(../icons/gear.svg);
}
div.about-info h4{
    color: #ffffff;
    font: 400 1.5rem 'Spartan',sans-serif;
    
}
div.about-info ul li{
    color: #7D7C84    ;
    font: 400 1.2rem 'Source Sans 3',sans-serif;
    
}
section.about-me{
    padding: 9% 0;
}
.link-icon{
    
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 20px;
}
a.link-icon{
width: max-content;
background-color: #1B1B1E;
}

div.back-tech p{
    display: block;
    color: #EA6118;
    background-color: #EA6118;
    opacity: 0.2;
    font: 400 1.2rem 'Source Sans 3',sans-serif;
}
p.project-description{
    font: 400 1.2rem 'Source Sans 3',sans-serif;
    color: #ffffff;
}

.detail div:nth-child(1){
    position: absolute;
    background-color: #1B1B1E;
    opacity: 0.8;
    z-index: 3;
    transition: opacity 0.3;
}
.hide-detail{
    position: absolute;
    z-index: 0 !important;
    opacity: 0 !important;

}